# 表示文件位于最顶层
root = true

[*]
# 字符编码、缩进样式、缩进个数、换行符表示方式、文件以空白行结束、行首空白字符去除
charset = utf-8
indent_style = space
indent_size = 2
end_of_line = lf
insert_final_newline = true
trim_trailing_whitespace = true

[*.md]
insert_final_newline = false
trim_trailing_whitespace = false